---
import Layout from '../layouts/Layout.astro';
import NAV1 from '../components/NAV_1.astro';
---

<Layout title="Matteo Postinghel">
	<NAV1/>

	<div class="relative text-left m-auto w-[calc(100% - 20px)] ">
        <div>
            <div class="grid grid-row  m-auto left-0 max-md: font-slab text-[12vw] ">
                <div href="/" class="hover:text-blu ">Neptuna</div>
                <div href="/" class="hover:text-blu ">Neptuna</div>

            </div>

        </div>
		<div class="absolute w-full h-full">
			<img class="image_home" src="" alt="neptuna_1">
			<img class="image_home" src="" alt="GRUPPO 5 - Saper fare liutaio di cremona - fotografie_3.jpg">
			<img class="image_home" src="" alt="100km_1">
			<img class="image_home" src="" alt="mappa milano">
			<img class="image_home" src="" alt="orchestra">
			<img class="image_home" src="" alt="nero-1">
		</div>

    </div>


</Layout>
