---
import Layout from '../layouts/Layout.astro';
import NAV2 from '../components/NAV_2.astro';
import ProjectTitle from '../components/projectTitle.astro';
import ImgLeft from '../components/ImgLeft.astro';
import Home2Comp from "../components/Home2Comp.astro";

---

<Layout title="Matteo Postinghel">
    
    <NAV2/>
    <div class="py-24">
        
        <ImgLeft
            img="/img/home/cremona_14.png"
        />
        
    </div>
    
    <ProjectTitle 
        num="3"
        itTitle="Neptuna",
        enTitle="Neptuna"
        year="2024",
        enCategory="Design speculativo"
        itCategory="Speculative design "
    />





        


</Layout>