---
import HomeComp from "../components/HomeComp.astro";
import { astroI18n, t } from "astro-i18n"

const projects = [
    { Title: t("projects.0.Title"), Category: t("projects.0.Category"), year: t("projects.0.year"), link:"/neptuna"},
    { Title: t("projects.1.Title"), Category: t("projects.1.Category"), year: t("projects.1.year"), link:"/neptuna"},
    { Title: t("projects.2.Title"), Category: t("projects.2.Category"), year: t("projects.2.year"), link:"/neptuna"},
    { Title: t("projects.3.Title"), Category: t("projects.3.Category"), year: t("projects.3.year"), link:"/neptuna"},
    { Title: t("projects.4.Title"), Category: t("projects.4.Category"), year: t("projects.4.year"), link:"/neptuna"},
    { Title: t("projects.5.Title"), Category: t("projects.5.Category"), year: t("projects.5.year"), link:"/neptuna"},
    { Title: t("projects.6.Title"), Category: t("projects.6.Category"), year: t("projects.6.year"), link:"/neptuna"},
    { Title: t("projects.7.Title"), Category: t("projects.7.Category"), year: t("projects.7.year"), link:"/neptuna"},
    { Title: t("projects.8.Title"), Category: t("projects.8.Category"), year: t("projects.8.year"), link:"/neptuna"},
    { Title: t("projects.9.Title"), Category: t("projects.9.Category"), year: t("projects.9.year"), link:"/neptuna"}
];
---

<div class="sm:fixed sm:bottom-2 max-sm:pt-72 max-sm:pb-12 px-2 sm:w-full">
    {projects.map((project, index) => (
        <HomeComp 
            Title={project.Title} 
            link={project.link} 
            num={(index + 1).toString()} 
            year={project.year} 
            Category={project.Category} 
        />
    ))}
</div>
