---
interface Props {
    img: string;
}

const {img} = Astro.props;
---

<div class="grid grid-cols-2 p-2">
    <div class="aspect-video">
        <img src={img} alt={img} class="object-cover">
    </div>
</div>