---

---

<div class="flex w-full fixed p-2 z-50 justify-between items-center text-white mix-blend-difference" data-aos="fade-in" data-aos-delay="200" data-aos-easing="ease-in-out">
	<div class="cursor-pointer hover:opacity-40" onclick="scrollToTop()">Matteo Postinghel</div>
	<a href="/" class=" hover:opacity-40">About</a>
</div>

<div id="about" class="flex flex-col max-w-2xl sm:w-1/2 p-2 pt-12">
	<p>Nice to meet you!
		<br>
		<br>
		I'm currently a Communication Design student at Politecnico of Milan, originally from Munich, Germany. Prior to my time in Milan, I spent a year in Rotterdam, exploring transformation design. My background spans branding, coding, wayfinding, and more.
		<br>
		<br>
		My passion lies in translating values into tangible artifacts for effective communication, always seeking new ideas rather than adhering to a specific style.
		<br>
		<br>
		I approach every project with a sense of humility and a genuine desire to contribute meaningfully to the diverse world of design and communication. I've had the privilege to collaborate with some design studios, and if you're interested in working with me, feel free to reach out.	
	</p>
	<br>
	<br>
	<div><a href="mailto:matteopostinghel@icloud.com" class="hover:opacity-40">Email</a></div>
	<div><a href="https://www.linkedin.com/in/matteo-postinghel/" class="hover:opacity-40" target="_blank">LinkedIn</a></div>
	<div><a href="https://www.instagram.com/matteo.post/" class="hover:opacity-40" target="_blank">Instagram</a></div>
	<div><a href="mailto:matteopostinghel@icloud.com" class="hover:opacity-40">Curriculum</a></div>

</div>

<!-- <div class="flex w-full fixed p-1 z-50 justify-end items-center text-white mix-blend-difference" data-aos="fade-in" data-aos-delay="200" data-aos-easing="ease-in-out">
    <a href="/" class="cursor-pointer w-[150px] text-right" id="hoverLink" onmouseover="onHover()" onmouseout="onMouseOut()" onclick="scrollToTop()">Matteo Postinghel</a>
</div> -->

<!-- <div class="flex flex-col w-full fixed p-1 z-50 justify-end items-end text-right leading-tight" data-aos="fade-in" data-aos-delay="200" data-aos-easing="ease-in-out">
	<div class="cursor-pointer" onclick="scrollToTop()">Matteo Postinghel</div>
	<a href="/" class="">About</a>
</div> -->


<script is:inline>
	function scrollToTop() {
		window.scrollTo(0,0);
	}

	function onHover() {
		document.getElementById('hoverLink').textContent = 'About';
	}

	function onMouseOut() {
		document.getElementById('hoverLink').textContent = 'Matteo Postinghel';
	}
</script>
