---

---

<div class="flex w-full fixed p-1 z-50 justify-between items-center text-white mix-blend-difference" data-aos="fade-in" data-aos-delay="200" data-aos-easing="ease-in-out">
	<div class="cursor-pointer" onclick="scrollToTop()">Matteo Postinghel</div>
	<a href="/" class="">About</a>
</div>

<script is:inline>

	function scrollToTop() {
		window.scrollTo(0,0);
	}
</script>
