---

---


<div class="flex justify-between p-2 ">
    <a href="/">Home</a>
    <div class="flex items-center">
        <p class="cursor-pointer it-button" data-lang="it">IT</p>
        <p>/</p>
        <p class="cursor-pointer en-button" data-lang="en">EN</p>
    </div>
</div>

<script is:inline>    

document.addEventListener("DOMContentLoaded", function() {
    const itButton = document.querySelector('.it-button');
    const enButton = document.querySelector('.en-button');

    itButton.addEventListener("click", function() {
        toggleLanguage('it', 'en', itButton, enButton);
    });

    enButton.addEventListener("click", function() {
        toggleLanguage('en', 'it', enButton, itButton);
    });

    toggleLanguage('it', 'en', itButton, enButton);
});

function toggleLanguage(showClass, hideClass, activeButton, inactiveButton) {
    const showElements = document.querySelectorAll(`.${showClass}`);
    const hideElements = document.querySelectorAll(`.${hideClass}`);

    showElements.forEach(element => {
        element.style.display = 'block';
    });

    hideElements.forEach(element => {
        element.style.display = 'none';
    });

    activeButton.style.opacity = '1';
    inactiveButton.style.opacity = '0.5';
}
</script>
