---
import Home2Comp from "../components/Home2Comp.astro";
---

<div class="pt-12 px-1">
    <Home2Comp title="By.it" link="/" num="1" year="2024" img="/img/home/cremona_14.png" category="Web design"/>
    <Home2Comp title="Raw Scenarios" link="/" num="2" year="2024" img="/img/home/cremona_14.png" category="Web design"/>
    <Home2Comp title="Cinema e Fotografia" link="/" num="3" year="2024" img="/img/home/cremona_14.png" category="Editorial"/>
    <Home2Comp title="Neptuna" link="/" num="1" year="2024" img="/img/home/cremona_14.png" category="Speculative design"/>
    <Home2Comp title="Saper fare liutaio di cremona" link="/" num="1" year="2024" img="/img/home/cremona_14.png" category="Identity design"/>
    <Home2Comp title="Milan Metro Map Redesign concept" link="/" num="1" year="2024" img="/img/home/cremona_14.png" category="Cartography"/>
    <Home2Comp title="100km studio" link="/" num="1" year="2024" img="/img/home/cremona_14.png" category="Web design"/>
    <Home2Comp title="anatomia dell'orchestra" link="/" num="1" year="2024" img="/img/home/cremona_14.png" category="Web design"/>
    <Home2Comp title="Rappresentazione dell'assenza e dell'essenza del nero" link="/" num="2" year="2024" img="/img/home/cremona_14.png" category="Editorial"/>
</div>
