---
import { astroI18n, t } from "astro-i18n"
const currentLocale = astroI18n.locale;

import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={currentLocale} class="antialiased">
	<head>
		<title>{t("index.title")}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content={t("index.meta.description")} />
		<meta name="keywords" content={t("index.meta.keywords")} />
		<meta name="author" content="Matteo Postinghel" />
		<meta name="robots" content="index, follow" />
		<meta http-equiv="content-language" content={currentLocale} />
	  
		<link rel="icon" href="/favicon.png" type="image/x-icon" />
		<link rel="stylesheet" href="https://use.typekit.net/lze6fdf.css">
	  
		<meta property="og:title" content={t("index.title")} />
		<meta property="og:description" content={t("index.meta.description")} />
		<meta property="og:image" content=`/card/card.png` />
		<meta property="og:url" content={t("index.meta.url")} />
		<meta property="og:type" content="website" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={t("index.title")} />
		<meta name="twitter:description" content={t("index.meta.description")} />
		<meta name="twitter:image" content=`/card/card.png` />

		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script is:inline>
		  AOS.init();
		</script>

		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-ZL76RB7TNY"></script>
		<script is:inline>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'G-ZL76RB7TNY');
		</script>
		
	  
		<ViewTransitions />
	</head>
		
	<body class="no-scrollbar">
		<slot />
	</body>
</html>
<style is:global>

	:root {
		@apply antialiased tracking-tight;
	}

	*{
		/* border: 1px solid red; */
		@apply leading-tight
		
	}

	html{
		background-color: #ffffff;
	}

	body{
		@apply text-xs md:text-sm xl:text-base;
	}



	@font-face {
		font-family: "Oracle";
		src: url(/font/ABCOracleEdu-Bold.woff2);
	}

	[x-cloak] {
		display: none !important;
	}

	.fadeOutAnimation {
		animation: fadeOut 1s ease-in forwards;
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		99% {
			opacity: 0;
		}
		100% {
			opacity: 0;
			visibility: hidden;
		}
		}
</style>
<script is:inline>
	document.addEventListener('alpine:init', () => {
	  Alpine.store('openState', {
		openCompNum: null, 
	  });
	});
  </script>

<script is:inline>
	import Alpine from 'alpinejs';
	window.Alpine = Alpine;
	Alpine.start();
  </script>
  