---
import { astroI18n, t } from "astro-i18n"
const currentLocale = astroI18n.locale;

import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang={currentLocale} class="antialiased">
	<head>
		<title>{title}</title>
		<!-- Basic Meta Tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Hi, I'm Matteo, a Communication Design student at Politecnico di Milano with expertise in branding, coding, and wayfinding. I’m passionate about creating impactful designs and transforming values into artifacts. Currently based in Milan, originally from Munich." />
		<meta name="keywords" content="Communication Design, Branding, Wayfinding, Editorial Design, Coding, Milan Designer, Munich Designer, Matteo, Transformation Design, Politecnico di Milano" />
		<meta name="author" content="Matteo Postinghel" />
		<meta name="robots" content="index, follow" />
		<meta http-equiv="content-language" content="en" />

		<link rel="icon" href="/favicon.svg" type="image/x-icon">
	
		<link rel="stylesheet" href="https://use.typekit.net/lze6fdf.css">
		
		<meta property="og:title" content="Matteo - Communication Designer | Milan & Munich" />
		<meta property="og:description" content="Communication Designer based in Milan, specializing in branding, coding, and editorial design. Discover my journey from Munich to Milan and explore my projects!" />
		<meta property="og:image" content="https://yourwebsite.com/path_to_image.jpg" /> 
		<meta property="og:url" content="https://matteopostinghel.com" /> 
		<meta property="og:type" content="website" />
		
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Matteo - Communication Designer | Milan & Munich" />
		<meta name="twitter:description" content="Hi, I'm Matteo! A Communication Designer based in Milan, exploring branding, wayfinding, coding, and more." />
		<meta name="twitter:image" content="https://matteopostinghel.com/path_to_image.jpg" /> <!-- Update image URL -->
		
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script is:inline>
			AOS.init();
		  </script>
	
		<!-- Google Analytics -->
		<!-- Uncomment and update the Google Analytics ID when ready to use -->
		<!-- 
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-ZL76RB7TNY"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-ZL76RB7TNY');
		</script>
		-->
	
		<ViewTransitions />
	</head>
		
	<body class="no-scrollbar">
		<slot />
	</body>
</html>
<style is:global>

	:root {
		@apply antialiased tracking-tight;
	}

	*{
		/* border: 1px solid red; */
		@apply leading-tight
		
	}

	html{
		background-color: #f8f8f8;
	}

	body{
		@apply text-xs sm:text-sm xl:text-base;
	}

	@font-face {
		font-family: "Oracle";
		src: url(/font/ABCOracleEdu-Bold.woff2);
	}

</style>
<script>
	document.addEventListener('alpine:init', () => {
	  Alpine.store('openState', {
		openCompNum: null, 
	  });
	});
  </script>
  